#bottombuttons
{
  margin-top: 30px;
  height: auto;
  width: 100%;
  float: left;
}
#bottombuttons > a
{
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border: solid 2px #2A2A2C;
  text-decoration: none;
  color: #2A2A2C;
}
#bottombuttons > a:hover
{
  background-color: #2A2A2C;
}
#bottombuttons > a:hover > p
{
  color: #efefef;
}
.rightbutton
{
  float: right;
  margin-right: 10px;
}
.leftbutton
{
  float: left;
  margin-left: 10px;
}
