#mainbox
{
  min-width: 340px;
}
.row
{
  height: auto;
  width: 100%;
  float: left;
}
.row::before
{
  top: 65px;
  bottom: 80px;
  position: absolute;
  content: " ";
  width: 4px;
  border-radius: 5px;
  background-color: #2A2A2C;
  left: 50%;
  margin-left: -2px;
}
h1
{
  text-align: center;
  margin: 20px;
  border-bottom: 2px solid #2A2A2C;
}
.rightbox
{
  float: right;
}
.leftbox
{
  float: left;
}
.leftbox::before
{
  content: " ";
  margin-top: 34px;
  height: 4px;
  left: 50%;
  width: 3%;
  margin-left: -3%;
  border-radius: 5px;
  background-color: #2A2A2C;
  position: absolute;
}
.rightbox::before
{
  content: " ";
  margin-top: 34px;
  height: 4px;
  left: 50%;
  width: 3%;
  border-radius: 5px;
  background-color: #2A2A2C;
  position: absolute;
}
.box
{
  width: 42%;
  height: auto;
  border: 2px solid #2A2A2C;
  padding: 10px;
  margin: 10px;
}
.box > h2
{
  text-align: center;
  font-size: 24px;
  margin: 10px;
  border-bottom: solid 2px #2A2A2C;
}
.boxcontent
{
  margin:10px;
}
p > a:hover
{
  color: #efefef;
  background-color: #2A2A2C;
  text-decoration: none;
}
#bottombuttons
{
  padding-bottom: 10px;
}
/**
changing style according to screen width
 */
@media (max-width: 1080px) {
    .box
    {
      width: 70%;
    }
    .rightbox::before, .leftbox::before
    {
      width: 12%;
      margin-left: -12%;
      left: 90%;
    }
    .rightbox
    {
      float: left;
    }
    .row::before
    {
      left: 90%;
      top: 75px;
      bottom: 120px;
    }
}
@media (max-width: 700px) {
  .rightbox::before, .leftbox::before
  {
    width: 8%;
    margin-left: -8%;
  }
}
