#buttonbox {
  float: left;
  width: 20%;
  height: 100%;
  top: 50%;
  padding: 2.5% 0% 0% 2.5%;
}

#profilepciture {
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#buttonbox > a {
  box-sizing: border-box;
  border: #2A2A2C solid 2px;
  height: auto;
  width: 100%;
  position: relative;
  float: left;
}

#buttonbox > .borderless {
  border-bottom: 0;
}

#buttonbox > a {
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

#buttonbox > a > p {
  color: #2A2A2C;
}

* > a:hover {
  color: #efefef;
  background-color: #2A2A2C;
  text-decoration: none;
}

#buttonbox > a:hover > p {
  color: #efefef;
}

#contentbox {
  width: 72.5%;
  padding: 2.5%;
  height: 100%;
  float: right;
}

#contentbox > * {
  margin: 10px;
}

#contentbox > div {
  text-align: left;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 20px;
}

h4 {
  text-align: center;
}

li {
  margin-top: 10px;
  font-size: 15px;
}

/**
changing style according to screen width
 */
@media (max-width: 700px) {
  #buttonbox {
    width: 100%;
    position: relative;
    height: auto;
    float: top;
    padding-left: 0;
  }

  #profilepciture {
    display: block;
    float: top;
    width: 70%;
    margin-left: 15%;
  }
  #buttonbox > a
  {
    width: 70%;
    left: 15%;
  }
  #contentbox {
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
  }
}


