# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\eeich\OneDrive\Dokumente\HTL-Grieskirchen\!Praktikum\Bewerbungen2021\homepage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
